.carousel-bg{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6%;
}
.carousel-item{
    padding-left: 50px;
}
.carousel-item p{
    width: 50%;
    word-wrap: normal;
}
.container{
    margin-bottom: 80px;
}
.btn-buy-now{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    background-color: black;
}
.card {
    background-color: white;
    border-top: none;
    border: none;
    box-shadow: 8px 8px 10px lightgrey;
}
.card-footer{
    background-color: white;
    border: none;
}
.card-deck{
    text-align: center;
}
.catborder{
    background-image: linear-gradient(to bottom,#FF9C35,#FFD019);
    height: 10px;
    border-radius: 10px;
}